<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0">
    <servlet>
        <servlet-name>MainServlet</servlet-name>
        <servlet-class>com.dashyl.servlet.MainServlet</servlet-class>
    </servlet>
    <filter>
        <filter-name>FormEncodingSetterFilter</filter-name>
        <filter-class>com.dashyl.FormEncodingSetterFilter</filter-class>
        <init-param>
            <param-name>encoding</param-name>
            <param-value>UTF-8</param-value>
        </init-param>
    </filter>
    <servlet-mapping>
        <servlet-name>MainServlet</servlet-name>
        <url-pattern>/warehouse</url-pattern>
    </servlet-mapping>
    <filter-mapping>
        <filter-name>FormEncodingSetterFilter</filter-name>
        <url-pattern>/warehouse/*</url-pattern>
    </filter-mapping>
</web-app>